body {
    margin: 0px;
    font-family: 'Work Sans';
    text-align: center;
}

header {
    width: 100%;
    height: 30px;
}

nav {
    padding: 20px;
    position: fixed;
    background-color: #eee;
    width: 100%;
}

main {
    width: 80vw;
    margin: 10vh auto;
}

.profile-picture {
    margin: 0px auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #000;
    background: linear-gradient(66deg, rgba(195, 44, 44, 1) 0%, rgba(236, 158, 5, 1) 100%);
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background: linear-gradient(180deg, rgba(195,44,44,1) 0%, rgba(236,158,5,1) 100%);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}